
.root {
    display: block;
}

.header {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bolder;

    background: #ccc;
    font-family: sans-serif;
    padding: 100px 50px;
}

.content {
    text-align: center;
    padding-top: 100px;
}